<style>
    body{
        background-color: rgb(59,62,71);
    }
    .container{
     color: white;
     width: 100%;   
     background-color: rgb(59,62,71);
    }
    .table-container{
        width: 90%;
        margin: 0 auto;
        background-color: rgb(46,50,57);
    }
    table{
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;"
        margin: 0 auto;
        
        
    }
    tr{
        border-bottom: 1px solid rgb(53,56,63);
        height: 50px;
    }
    th{
        
    }
    td{
        
    }
    h2{
        text-align: center;
    }
    p{
        text-align: center;
        color: rgb(150,152,156);
    }
</style>